<template>
  <div class="form-image" @click="handleOpenFinder">
    <div
      v-if="preview"
      class="form-image__preview"
      :style="{ backgroundImage: 'url(' + preview + ')' }"></div>
    <i v-else class="el-icon-plus form-image-icon"></i>
    <input ref="file" type="file" @change="handleUpload">
  </div>
</template>

<script>
export default {
  props: {
    image: [String, File]
  },
  data: () => ({
    imageUrl: null
  }),
  computed: {
    preview () {
      return this.imageUrl || this.image
    }
  },
  methods: {
    handleOpenFinder () {
      this.$refs.file.click()
    },
    handleUpload (e) {
      e.preventDefault()

      const file = this.$refs.file.files[0]

      if (file) {
        let formData = new FormData()
        let reader = new FileReader()

        formData.append('image', file)
        reader.onload = (e) => {
          this.imageUrl = e.target.result
        }

        reader.readAsDataURL(file)

        this.$emit('input', file)
      }
    }
  }
}
</script>

<style lang="stylus">
.form-image {
  border 1px dashed #d9d9d9
  border-radius 6px
  cursor pointer
  position relative
  overflow hidden
  height 178px
  width 178px

  &:hover {
    border-color #409EFF
  }

  & > input[type="file"] {
    display none
  }

  &__preview {
    background-size cover
    background-origin 50% 50%
    width 100%
    height 100%
  }
}

.form-image-icon {
  font-size 28px
  color #8c939d
  width 178px
  height 178px
  line-height 178px
  text-align center
}
</style>
