<template>
  <div>
    <form class="b-card list-items-search" v-if="isSearch">
      <input
        class="list-items-search__field"
        v-model="serachField"
        placeholder="Поиск">
    </form>

    <div class="b-card list-items-card" :key="index" v-for="(item, index) in items" @click="handleGoTo(item.id)">
      <div
        class="list-items-card__image"
        :style="{ backgroundImage: 'url(' + item.image + ')' }"
        v-if="item.image"></div>
      
      <h4 class="list-items-card__title">{{item.name}}</h4>

      <div class="list-items-card__control">
        <el-tooltip placement="top" v-if="control.isDelete">
          <div slot="content">Удалить</div>
          <el-button :loading="isLoadingDelete" class="is-circle" type="danger" icon="el-icon-delete" circle @click="control.handleDelete(item.id)"></el-button>
        </el-tooltip>
      </div>
    </div>

    <div style="display:flex; justify-content: center" v-if="items.length">
      <el-pagination
        v-if="isPagination"
        background
        layout="prev, pager, next"
        :current-page="pageCurrent"
        :total="itemsTotal"
        :page-size="itemsPageSize"
        @current-change="handleCurrentChange">
      </el-pagination>
    </div>
    <div v-else>
      <center>
        <b>Ничего не найдено</b>
      </center>
    </div>
  </div>
</template>

<script>
import debounce from 'lodash/debounce'
import gql from 'graphql-tag'

export default {
  props: {
    moduleName: String,
    moduleRule: Object
  },
  data: () => ({
    items: [],
    itemsTotal: 0,
    itemsPageSize: 30,
    serachField: null,
    pageCurrent: 1,
    loading: null,
    isLoadingDelete: false
  }),
  watch: {
    serachField (value) {
      this.handleSearch(value)
    }
  },
  apollo: {
    fetchItems: {
      manual: false,
      query () {
        let schema = this.moduleRule.getSchema().join(' ')
        let schemaId = this.moduleRule.getSchemaId() || this.moduleName

        if (this.isPagination) {
          schema = `
            data {
              ${schema}
            }
            total
            current_page
            per_page
          `
        }

        return gql`query fetchItem ($page: Int $name: String) {
          ${schemaId} (page: $page name: $name) {
            ${schema}
          }
        }
        `
      },
      variables () {
        let query = {
          page: 1,
          name: null
        }

        query = Object.assign(query, this.$route.query)

        this.pageCurrent = parseInt(query.page)
        this.serachField = query.name

        return query
      },
      result ({ data, loading }) {
        if (data) {
          let schemaId = Object.keys(data)[0]
          data = data[schemaId]

          this.items = data.data || data

          if (data.total) {
            this.itemsTotal = data.total
          }
          if (data.per_page) {
            this.itemsPageSize = data.per_page
          }
        }

        let query = Object.assign({}, this.$apollo.queries.fetchItems.observer.options.variables)

        this.$router.replace({
          query
        })
      },
      update (isLoading) {
        if (isLoading) {
          this._loadingEnd()
        }
      }
    }
  },
  computed: {
    isPagination () {
      return !!(this.moduleRule.getOptions().pagination)
    },
    isSearch () {
      if (this.moduleRule.getOptions().search) {
        return this.moduleRule.getOptions().search
      }

      return false
    },
    getOptions () {
      return this.moduleRule.getOptions()
    },
    control () {
      return {
        delete: (this.getOptions.control && this.getOptions.control.delete) ? this.getOptions.control.delete : null,
        get isDelete () {
          return !!this.delete
        },
        handleDelete: (id) => {
          this.isLoadingDelete = true
          let schemaId = this.control.delete.schemaId

          this.$apollo.mutate({
            mutation: gql`mutation deleteItem($id: String!) {
              ${schemaId} (id: $id) {
                status
              }
            }`,
            variables: { id }
          }).then(res => {
            this.isLoadingDelete = false
            this._loadingStart()
            this.$apollo.queries.fetchItems.refetch()
          })
        }
      }
    }
  },
  methods: {
    _fetch: debounce((cb) => cb(), 300),
    handleGoTo (id) {
      let options = this.moduleRule.getOptions()

      if (options.edit === true) {
        this.$router.push({
          name: this.moduleName + '.edit',
          query: {
            id
          }
        })
      }
    },
    handleSearch (name) {
      this._fetch(() => {
        this._loadingStart()
        this.$apollo.queries.fetchItems.refetch({ name })
      })
    },
    handleCurrentChange (page) {
      this.pageCurrent = page

      this._loadingStart()
      this.$apollo.queries.fetchItems.refetch({ page, name: this.serachField })
    },
    destroyStack () {
      this.items = []
      this.serachField = ''
    },
    _loadingStart () {
      this.loading = this.$loading({
        lock: true,
        fullscreen: true
      })
    },
    _loadingEnd () {
      if (this.loading) {
        this.$nextTick(() => {
          setTimeout(() => {
            this.loading.close()
          }, 100)
        })
      }
    }
  },
  mounted () {
    this._loadingStart()

    this.$root.$on('view:list-items:update', (loading) => {
      this.loading = loading
      this.$apollo.queries.fetchItems.refetch()
    })
  },
  beforeDestroy () {
    this.destroyStack()
  }
}
</script>

