<template>
  <div>
    <form class="b-card list-items-search" @submit="handleSearch">
      <input
        class="list-items-search__field"
        v-model="serachField"
        placeholder="Добавить фильм по ID">
    </form>

    <div class="sequence-preview" v-if="searchResult">
      <div class="sequence-preview-qa">
        <div class="sequence-preview-qa__image" :style="{ backgroundImage: `url(${searchResult.image})` }"></div>
        <h3 class="sequence-preview-qa__head">
          {{searchResult.name}} <br>
          <small>ID: {{searchResult.id}}</small>
        </h3>
      </div>
      <el-button type="primary" @click="handleAddToList(searchResult.id)">Добавить в список</el-button>
    </div>
  </div>
</template>

<script>
import ListItems from '@/components/views/ListItems'

import gql from 'graphql-tag'

export default {
  components: {
    ListItems
  },
  props: {
    moduleName: String,
    moduleRule: Object
  },
  data: () => ({
    serachField: '',
    searchResult: null
  }),
  methods: {
    async handleSearch (e) {
      e.preventDefault()

      const loading = this.$loading({
        lock: true,
        fullscreen: true
      })

      const result = await this.$apollo.query({
        query: gql`
          query {
            film (id: "${this.serachField}") {
              id
              name
              image
            }
          }
        `
      })
      this.searchResult = result.data.film

      this.$nextTick(() => {
        loading.close()
      })
    },

    async handleAddToList (id) {
      this.searchResult = null

      const loading = this.$loading({
        lock: true,
        fullscreen: true
      })
      const input = { id }

      this.$apollo.mutate({
        // Query
        mutation: gql`
          mutation createFilmNew($input: FilmNewInput!) {
            filmNew(input: $input) {
              id
            }
          }
        `,
        // Parameters
        variables: { input }
      }).then(res => {
        this.$root.$emit('view:list-items:update', loading)
      }).catch(e => {
        console.log(e)
      })
    }
  }
}
</script>

<style lang="stylus">
.sequence-preview {
  display flex
  flex-direction column
}
.sequence-preview-qa {
  display flex
  align-items flex-start
  margin-bottom 15px

  &__image {
    flex 0 0 auto
    background-size cover
    border-radius 5px
    overflow hidden
    height 100px
    width 100px
  }
  &__head {
    margin 0 15px
  }
}
</style>
