<template>
  <div>
    <div class="b-card">
      <div class="b-card__head">Пользователи</div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="stylus">

</style>
