<template>
  <div class="wrapper" style="margin-top: 50px">
    <router-view :module="module"></router-view>
  </div>
</template>

<script>
import Module from '@/services/Module'

export default {
  computed: {
    title () {
      let module = this.module.getModule()
      return module ? module.title : ''
    },
    module () {
      let module = this.$store.getters['modules/getModule'](this.getModuleName)
      let moduleObject = new Module(module, this.$route)

      return moduleObject
    },
    getModuleName () {
      return this.$route.name.split('.')[0]
    }
  }
}
</script>

<style lang="stylus">
.default-m-ctrls {
  display flex
  align-items center
  justify-content space-between

  .el-breadcrumb {
    margin 0 15px
  }
}


.list-items-search {
  padding 0
  overflow hidden

  &__field {
    padding 20px
    border none
    outline none
    font-size 18px
    width 100%
  }
}
.list-items-card {
  display flex
  align-items center
  padding 10px
  transition box-shadow ease .1s

  &:hover {
    box-shadow 0 1px 15px 1px rgba(49,124,255,0.08), inset 0 0 0 2px #75beff
    cursor pointer

    & .list-items-card__control {
      display block !important
    }
  }

  &__image {
    flex 0 0 auto
    background-size cover
    border-radius 5px
    overflow hidden
    height 50px
    width 50px
  }

  &__title {
    margin 0 10px
    flex 1 1 auto
  }
  &__control {
    flex 0 0 auto
    display none
    
    & > .el-button {
      border-radius 50%
      padding 12px
    }
  }
}
</style>
