<template>
  <div>
    <div class="default-m-ctrls">
      <div>
        <h1 class="b-title">{{moduleTitle}}</h1>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ name: moduleName }">Главная</el-breadcrumb-item>
          <el-breadcrumb-item>Редактирование</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>
    <div class="b-card">
      <component :is="view" :moduleName="moduleName" :moduleRule="moduleRule"></component>
    </div>
  </div>
</template>

<script>
import ModuleMixin from '@/components/modules/default/ModuleMixin'

export default {
  mixins: [ModuleMixin],
  data: () => ({
    routeName: 'edit'
  }),
  methods: {
    fetch () {

    }
  },
  beforeCreate () {

  }
}
</script>
