<template>
  <div>
    <div class="default-m-ctrls">
      <div>
        <h1 class="b-title">{{moduleTitle}}</h1>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>Главная</el-breadcrumb-item>
        </el-breadcrumb>
      </div>

      <!-- <router-link
        tag="el-button"
        class="el-button--primary"
        :to="{ name: '/' }">Создать</router-link> -->
    </div>
    <component :is="viewItem" :view="viewItem" :moduleName="moduleName" :moduleRule="moduleRule.getRule(viewItem)" :key="index" v-for="(viewItem, index) in view"></component>

    <!-- <router-link :to="{ name: moduleName + '.settings' }">Настройки</router-link> -->
  </div>
</template>

<script>
import ModuleMixin from '@/components/modules/default/ModuleMixin'

export default {
  mixins: [ModuleMixin]
}
</script>
