<template>
  <div>
    <div class="p-home">
      <div class="b-card b-dashboard b-dashboard_mini">
        <div class="b-dashboard-head">
          Онлайн сейчас <i class="lnr lnr-chevron-right"></i>
        </div>
        <h3 class="b-dashboard-number">342</h3>
        <div class="b-dashboard-info">
          <span class="b-dashboard-info__left">22% от вчера</span>
          <!-- <span class="b-dashboard-info__right">$20,000</span> -->
        </div>
        <div class="b-dashboard-progress-bar">
          <div class="b-dashboard-progress-bar__inner" style="width: 30%"></div>
        </div>
      </div>
      <div class="b-card b-dashboard b-dashboard_mini">
        <div class="b-dashboard-head">
          Посетители <i class="lnr lnr-chevron-right"></i>
        </div>
        <h3 class="b-dashboard-number">342</h3>
        <div class="b-dashboard-info">
          <span class="b-dashboard-info__left">22% higher</span>
          <span class="b-dashboard-info__right">$20,000</span>
        </div>
        <div class="b-dashboard-progress-bar">
          <div class="b-dashboard-progress-bar__inner" style="width: 60%"></div>
        </div>
      </div>
      <!-- <div class="b-card b-dashboard b-dashboard_mini">sds</div>
      <div class="b-card b-dashboard b-dashboard_mini">sds</div>
      <div class="b-card b-dashboard b-dashboard_mini">sds</div>
      <div class="b-card b-dashboard b-dashboard_3x2 b-dashboard_mini">Сделать авторазмерность блоков в зависимости от экрана</div>
      <div class="b-card b-dashboard b-dashboard_mini">sds</div>
      <div class="b-card b-dashboard b-dashboard_mini">sds</div>
      <div class="b-card b-dashboard b-dashboard_mini">sds</div>
      <div class="b-card b-dashboard b-dashboard_mini">sds</div>
      <div class="b-card b-dashboard b-dashboard_mini">sds</div>
      <div class="b-card b-dashboard b-dashboard_mini">sds</div>
      <div class="b-card b-dashboard b-dashboard_2x2 b-dashboard_mini">sds</div> -->
    </div>
  </div>
</template>

<style lang="stylus">
.p-home
  padding 15px
  // display flex
  // flex-wrap wrap
  display grid
  // grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, minmax(5rem, auto));
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  height 100%

  & > .b-card
    margin 15px

.b-dashboard
  display flex
  flex-direction column
  flex 1 1 auto
  padding 0
  border-radius 0
  // width 15%

  &_2x2
    grid-row-start: span 2;
    grid-column-start: span 2;

  &_3x2
    grid-row-start: span 2;
    grid-column-start: span 3;

  &-head
    padding 20px 20px 7px 20px
    text-transform uppercase
    font-size 10.5px
    color #7a8994

  &-number
    margin 0
    padding 10px 20px
    font-size 24px
    font-size 2.1em
    font-weight 300
    line-height 35.88px

  &-info
    padding 0px 20px
    font-size 11px
    color #7a8994

    &__left
      opacity .7
      float left

    &__right
      float right

  &-progress-bar
    display block
    margin-top 20px
    background-color rgba(122,137,148,0.2)
    height 3px
    width 100%

    &__inner
      background-color #007be8
      height inherit

.b-dashboard-mini
  height 150px
</style>
