<template>
  <div class="footer">
    <div class="footer-container">
      <div class="footer-copyright">
        Fw AdminPanel 2018
      </div>
    </div>
  </div> 
</template>

<style lang="stylus">
.footer
  display block
  flex 0 0 auto
  background-color #ffffff
  width 100%

  &-container
    padding 10px 10px
    color #ababab

  &-copyright
    font-size 10px
</style>