<template>
  <div class="header-notification">
    <ui-dropdown :width="300">
      <el-badge :value="12">
        <span class="header-notification__icon lnr lnr-alarm"></span>
      </el-badge>

      <div class="header-notification-list" slot="body">
        <div class="header-notification-list__item ui-list" v-for="notify in [0,1,2,3]">
          <div class="header-notification-list__item__icon">
            <i class="lnr lnr-bubble"></i>
          </div>
          <div class="header-notification-list__item__body">
            Доступно новое обновление
            <span>22.01.2017 в 14:40</span>
          </div>
        </div>
      </div>
    </ui-dropdown>
  </div>
</template>

<script>
import UiDropdown from '@/components/ui/UiDropdown'

export default {
  components: {
    UiDropdown
  }
}
</script>

<style lang="stylus">
.header-notification
  margin 10px 20px
  padding 10px
  cursor pointer

  &__icon
    font-size 22px
    color #5a5a5a

  &-list
    display flex
    flex-direction column

    &__item
      padding 10px 20px
      display flex

      &__icon
        margin-right 15px
        display flex
        align-items center
        justify-content center
        background-color #77A7E6
        border-radius 100%
        height 35px
        width 35px
        color #ffffff

      &__body
        font-size 12px
        color #7A8994

        & > span
          margin-top 2px
          display block
          font-size 11px
          opacity 0.7

</style>
