<template>
  <div :class="['search', { search_show: isDOM }]" v-if="isShowed">
    <form class="search-form">
      <input ref="searchField" class="search-form__field" placeholder="It’s search modules…" v-model="searchFeild">
      <a class="search-form__close" @click="close">
        <span class="lnr lnr-cross"></span>
      </a>
    </form>
    <div class="search-container">
      <div class="search-module" :key="index" v-for="(module, index) in getModules" @click="nextToModule(module.name)">
        <div class="search-module__icon">
          <span :class="module.icon"></span>
        </div>
        <div class="search-module__header">
          <div class="search-module__header__title">{{module.title}}</div>
          <div class="search-module__header__description">{{module.description}}</div>
        </div>
      </div>
      <div v-if="!getModules.length">
        Запрос не дал результатов.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    isShowed: false,
    searchFeild: '',
    isDOM: false
  }),
  watch: {
    isShowed (i) {
      if (i === true) {
        this.$nextTick(() => {
          this.$refs.searchField.focus()
          this.isDOM = true
        })
      } else {
        this.isDOM = false
      }
    }
  },
  methods: {
    close () {
      this.isShowed = false
      this.searchFeild = ''
    },
    nextToModule (routerName) {
      this.$router.push({ name: routerName })
      this.close()
    }
  },
  computed: {
    getModules () {
      const searchField = this.searchFeild.toLowerCase()
      let modules = Object.values(this.$store.getters['modules/modules'])

      if (searchField) {
        modules = modules.filter(module => {
          if (module.title.toLowerCase().search(searchField) !== -1) {
            return true
          } else if (module.name.toLowerCase().search(searchField) !== -1) {
            return true
          }
        })
      }

      return modules
    }
  },
  mounted () {
    this.$root.$on('app-header-search', isActive => {
      this.isShowed = isActive
    })

    window.addEventListener('keyup', event => {
      if (event.which === 27) {
        this.close()
      }
    })
  }
}
</script>

<style lang="stylus">
.search
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  height 100vh
  overflow auto
  padding 75px
  background-color rgba(255,255,255,.8)
  opacity 0
  transform scale(0.99)
  transition all ease .3s

  @media (max-width 600px) {
    padding 15px
  }

  &_show
    transform scale(1)
    opacity 1

  &-form
    position relative

    &__close
      display flex
      align-items center
      justify-content center
      position absolute
      top 0
      right 0
      background-color #3c3c3c
      border-radius 100%
      color #ffffff
      height 35px
      width 35px
      cursor pointer
      transition all .2s ease

      &:hover
        box-shadow 0 0 0 4px #fff, 0 0 0 5px #000

    &__field
      background-color transparent
      border none
      outline none
      font-weight 100
      font-size 35px
      text-transform uppercase
      // font-family Roboto
      color #3C3C3C
      width 100%

      &::-webkit-input-placeholder {
        color #3C3C3C
      }
      &::-moz-placeholder {
        color #3C3C3C
      }
      &:-ms-input-placeholder {
        color #3C3C3C
      }
      &:-moz-placeholder {
        color #3C3C3C
      }
  &-container
    display grid;
    grid-template-rows repeat(3,minmax(5rem,auto));
    grid-template-columns repeat(auto-fill,minmax(330px,1fr))
    margin -40px
    margin-top 75px

  &-module
    display flex
    flex 1 0 auto
    padding 30px
    margin 20px 40px
    background-color #ffffff
    border-radius 3px
    box-shadow 0 1px 15px 1px rgba(49, 124, 255, .08)

    &:hover
      cursor pointer
      box-shadow 0 1px 15px 1px rgba(49, 124, 255, .08), inset 0 0 0 2px #75BEFF

    &__icon
      font-size 22px

    &__header
      margin-left 20px

      &__title
        font-weight 400
        font-size 14px
        color #3C3C3C
        // font-family Roboto

      &__description
        margin-top 10px
        font-size 11px
        line-height 13px
        // font-family Roboto
        color rgba(122,137,148, 0.7)
</style>
