<template>
  <div class="header-profile">
    <ui-dropdown>
      <img class="header-profile-avatar" src="https://pp.userapi.com/c836433/v836433157/6ba04/XICyZDVC61M.jpg" alt="" />

      <div slot="body">
        <router-link class="ui-list" :to="{ name: 'logout' }">Настройки</router-link>
        <router-link class="ui-list" :to="{ name: 'logout' }">Помощь</router-link>
        <router-link class="ui-list" :to="{ name: 'logout' }">Выйти из системы</router-link>
      </div>
    </ui-dropdown>
  </div>
</template>

<script>
import UiDropdown from '@/components/ui/UiDropdown'

export default {
  components: {
    UiDropdown
  }
}
</script>

<style lang="stylus">
.header-profile
  display block

  &-avatar
    padding 2px
    border-radius 100%
    border 1px solid #398bf7
    outline none
    height 35px
    width 35px
    cursor pointer
</style>
