<template>
  <header class="header">
    <div class="header-left">
      <a class="header__logo" @click="handleOpenSearch">Fw</a>
      <AppNavigation/>
    </div>
    <div class="header-right">
      <AppHeaderNotification/>
      <AppHeaderProfile/>
    </div>
    <AppHeaderSearch/>
  </header>
</template>

<script>
import AppNavigation from '@/components/AppNavigation'
import AppHeaderProfile from '@/components/AppHeaderProfile'
import AppHeaderNotification from '@/components/AppHeaderNotification'
import AppHeaderSearch from '@/components/AppHeaderSearch'

export default {
  components: {
    AppNavigation,
    AppHeaderProfile,
    AppHeaderNotification,
    AppHeaderSearch
  },
  methods: {
    handleOpenSearch () {
      this.$root.$emit('app-header-search', true)
    }
  }
}
</script>

<style lang="stylus">
.header
  padding 3px 10px
  position fixed
  top 0
  display flex
  align-items center
  background-color #ffffff
  height 60px
  width 100%
  box-shadow 0px 25px 30px -20px rgba(49,124,215,0.09)
  z-index 10001

  &-left
  &-right
    display flex
    align-items center
    flex 1 1 auto

  &-right
    display flex
    justify-content flex-end

  &__logo
    display flex
    align-items center
    justify-content center
    text-decoration none
    background-color #212121
    border-radius 3px
    color #ffffff
    height 40px
    width 40px
    cursor pointer

    &:hover
      background-color #000000

  &__exit
    display flex
    align-items center
    text-decoration none
    color #5a5a5a

    & > i 
      margin-left 10px
</style>
