<template>
  <div class="app-layout">
    <AppHeader/>
    <main class="app-layout__content">
      <router-view></router-view>
    </main>
    <AppFooter/>
  </div>
</template>

<script>
import AppHeader from '@/components/AppHeader'
import AppFooter from '@/components/AppFooter'

export default {
  components: {
    AppHeader,
    AppFooter
  },
  data: () => ({
    modules: {}
  })
}
</script>

<style lang="stylus">
.app-layout
  display flex
  flex-direction column
  height 100%

  &__content
    padding-top 60px
    padding-bottom 50px
    flex 1 1 auto
</style>
