<template>
  <nav class="app-navigation">
    <router-link class="app-navigation__link" :to="{ name: 'home' }"><i class="lnr lnr-home"></i>Главная</router-link>
    <router-link class="app-navigation__link" :to="{ name: item.name }" :key="index" v-for="(item, index) in getItemNavigation">
      <i :class="item.icon"></i>{{item.title}}
    </router-link>
    <a href="" class="app-navigation__link" @click.prevent="searchShow"><i class="lnr lnr-magnifier"></i>Поиск</a>
    <router-link class="app-navigation__link" :to="{ name: 'settings.general' }"><i class="lnr lnr-cog"></i>Настройки</router-link>
  </nav>
</template>

<script>
export default {
  methods: {
    searchShow () {
      this.$root.$emit('app-header-search', true)
    }
  },
  computed: {
    getItemNavigation () {
      let modules = this.$store.getters['modules/modules']
      let navModules = []
      let i = 0

      for (let module in modules) {
        if (i >= 3) {
          break
        }
        i++
        navModules.push(modules[module])
      }

      return navModules
    }
  }
}
</script>

<style lang="stylus">
.app-navigation
  display flex
  flex 1 1 auto
  padding 40px 0

  @media (max-width 490px)
    display none

  &__link
    display inline-flex
    flex-direction column
    justify-content center
    align-items center
    padding 10px 20px
    text-decoration none
    outline none
    font-size 11px
    font-weight 400
    color #5a5a5a

    &:first-child
      padding-left 40px

    &:last-child
      padding-right 40px

    & > i
      margin-bottom 3px
      font-size 20px

    &.router-link-exact-active
      color #317cd7

    &_bg-active
      background-color #317cd7
      color #ffffff

</style>
