<template>
  <div id="app" class="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  methods: {
    receiveModules () {
      this.$store.dispatch('modules/receive').then(() => {
        //
        // const routes = [
        //   {
        //     path: '/users',
        //     name: 'users',
        //     component: () => System.import('@/components/users/Users')
        //   }
        // ]
        //
        // const routeScheme = this.$router.options.routes.map(route => {
        //   if (route.name === 'AppLayout') {
        //     Object.assign(route.children, routes)
        //   }
        //   return route
        // })
        //
        // this.$router.addRoutes(routeScheme);
      })
    }
  },
  mounted () {
    this.receiveModules()
  }
}
</script>

<style lang="stylus">
body
  padding 0
  margin 0
  font-family 'Open Sans', Helvetica, Arial, sans-serif
  font-size 14px
  background linear-gradient(to bottom, #ffffff 0%,#f7f7fa 100%)
  background-attachment fixed
  height 100vh
  color #000

*, *:after, *:before
  box-sizing border-box

.app
  height 100%

.b-title
  padding 0
  margin 40px 15px
  font-weight 300

.b-card
  position relative
  margin 20px 0
  padding 1.35rem
  background-color #ffffff
  border-radius 5px
  box-shadow 0px 1px 15px 1px rgba(49, 124, 215, 0.08)

  @media (max-width 490px)
    border-radius 0

  &__head
    display flex
    align-items center
    margin-bottom .75rem
    font-weight 300
    font-size 18px
    line-height 22px
    color #455a64

    &:before
      content ''
      position absolute
      left 0
      background-color #398bf7
      height 30px
      width 2px

.link
  text-decoration none
  cursor pointer
  color #398bf7

.wrapper
  max-width 1000px
  margin 0 auto
  padding 0 15px

.ui-list
  display block
  padding 10px 20px
  margin 0 -10px
  text-decoration none
  font-size 12px
  color #000000

  &:hover
    background-color #f9f9f9

/**
 *  Переопределение UI
 **/
 .el-input__inner
  font-weight 300

.el-dialog
  max-width 100%
  width 400px

.el-notification
.el-message
  z-index 10002 !important
</style>
