<template>
  <ui-form>
    <ui-form-item label="Название сайта">
      <el-input v-model="form.site_name"></el-input>
    </ui-form-item>
    <ui-form-item label="Тема">
      <el-select v-model="form.theme" placeholder="Select">
        <el-option
          v-for="item in themes"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </ui-form-item>
    <ui-form-item label="Временная зона">
      <el-select v-model="form.timezone" placeholder="Select">
        <el-option
          v-for="item in timezone"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </ui-form-item>
    <ui-form-item label="Уведомления" description="Система уведомит Вас в соответствии с указанной Вами степенью важности: 0 — уведомления отключены; 1 - только системные уведомления; 3 - любая активность;">
      <el-slider
        v-model="form.notification"
        :max="3"
        show-stops>
      </el-slider>
    </ui-form-item>
    <ui-form-item label="Уведомлять через браузер" description="Уведомления будут приходить в любое время пока браузер включен">
      <el-switch v-model="form.notification_browser"></el-switch>
    </ui-form-item>
    <ui-form-item label="Отключить сайт" description="К сайту никто не будет иметь доступ">
      <el-switch v-model="form.site_disabled"></el-switch>
    </ui-form-item>
  </ui-form>
</template>

<script>
import debounce from 'lodash/debounce'
import UiForm from '@/components/ui/UiForm'
import UiFormItem from '@/components/ui/UiFormItem'

export default {
  components: {
    UiForm,
    UiFormItem
  },
  data: () => ({
    form: {
      theme: 'light',
      timezone: 'Europe/Moscow',
      site_name: '',
      site_disabled: true,
      notification: 2,
      notification_browser: false
    },
    themes: [{
      value: 'light',
      label: 'Light Theme'
    }],
    timezone: [{
      value: 'Europe/Moscow',
      label: 'Europe/Moscow'
    }]
  }),
  watch: {
    form: {
      handler: debounce(function () {
        this.save()
      }, 2000),
      deep: true
    }
  },
  methods: {
    save () {
      this.$notify({
        title: 'Success',
        message: 'Настройки сохранены',
        type: 'success'
      })
    }
  }
}
</script>
