<template>
  <div class="wrapper">
    <h1 class="b-title">Настройки</h1>
    <div class="b-card">
      <div class="settings-navigation">
        <router-link class="settings-navigation__link settings-navigation__link_active" :to="{ name: 'settings.general' }">Основное</router-link>
        <router-link class="settings-navigation__link" :to="{ name: 'settings.security' }">Безопасность</router-link>
      </div>

      <router-view></router-view>
    </div>
  </div>  
</template>

<style lang="stylus">
.settings-navigation
  display block
  margin -10px -22px 40px
  border-bottom 1px solid #dedede

  &__link
    position relative
    display inline-block
    padding 15px 5px
    margin 0 20px
    font-weight 600
    font-size 13px
    text-decoration none
    color #737373

    &.router-link-exact-active:after
      content ''
      position absolute
      left 0
      right 0
      bottom -1px
      background-color #398bf7
      height 2px
      width 100%
</style>
