<template>
  <ui-form>
    <ui-form-item label="Пароль" description="Последнее обновление: Август, 22">
      <el-button round @click="dialogConfirmPasswordShow">Изменить пароль</el-button>
    </ui-form-item>


  </ui-form>
</template>

<script>
import UiForm from '@/components/ui/UiForm'
import UiFormItem from '@/components/ui/UiFormItem'

export default {
  components: {
    UiForm,
    UiFormItem
  },
  data: () => ({
    dialogUpdatePassword: false
  }),
  methods: {
    dialogConfirmPasswordShow () {
      this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        this.dialogUpdatePasswordShow()
      })
    },
    dialogUpdatePasswordShow () {
      this.$prompt('Please input new password', 'Tip', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        inputType: 'password'
      }).then(value => {
        this.$message({
          type: 'success',
          message: 'Your email is:' + value
        })
      })
    }
  }
}
</script>

<style lang="stylus">

</style>
