<template>
  <div class="auth">
    <div class="b-card auth__container">
      <div class="b-card__head">Авторизация</div>

      <el-form v-loading="isSuccess" @submit.native.prevent="submitForm" status-icon :model="form" :rules="rules" ref="formAuth">
        <el-form-item label="Логин" prop="email">
          <el-input type="text" v-model="form.email" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Пароль" prop="password">
          <el-input type="password" v-model="form.password" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button native-type="submit" type="primary">Submit</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { AUTH_LOGIN } from '@/api'

export default {
  data () {
    return {
      isSuccess: false,
      form: {
        email: '',
        password: ''
      },
      rules: {
        email: [
          { required: true, message: 'Please enter your email', trigger: 'blur' }
        ],
        password: [
          { required: true, message: 'Please enter your password', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    submitForm () {
      this.$refs.formAuth.validate(valid => {
        if (valid) {
          this.isSuccess = true

          this.$http.post(AUTH_LOGIN, this.form).then(res => {
            let data = res.data.success

            if (data.token) {
              this.$auth.setToken(data.token, null, null, data.type)

              if (this.$route.query.redirect) {
                this.$router.push({ path: this.$route.query.redirect })
              } else {
                this.$router.push({ name: 'home' })
              }
            }
          }).catch(() => {
            this.isSuccess = false
            this.$refs['formAuth'].clearValidate()
            this.$message.error('Не верные данные для входа.')
          })
        }
      })
    }
  }
}
</script>

<style lang="stylus">
.auth
  display flex
  align-items center
  justify-content center
  height 100vh

  &__container
    flex 1 1 auto
    max-width 350px
</style>
