<template>
  <div class="ui-dropdown" v-click-outside="hide">
    <div ref="element" @click="toggleShow">
      <slot></slot>
    </div>

    <div
      ref="elementBody"
      :class="['ui-dropdown-popup', { 'ui-dropdown-popup_show': isShow }]"
      :style="stylePosition">
      <div class="ui-dropdown-popup__arrow"></div>
      <slot name="body"></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    width: {
      type: Number,
      default: 190
    }
  },
  data: () => ({
    offset: 10,
    isShow: false,
    stylePosition: {}
  }),
  methods: {
    hide () {
      this.isShow = false
    },
    toggleShow () {
      this.isShow = !this.isShow

      this.calculatePosition()
    },
    calculatePosition () {
      const element = this.$refs.element
      // const elementBody = this.$refs.elementBody
      const elementRect = element.getBoundingClientRect()

      const top = elementRect.height + elementRect.top + this.offset + 10
      const left = elementRect.left + element.offsetWidth - this.width - this.offset

      this.stylePosition = {
        left: left + 'px',
        top: top + 'px',
        width: this.width + 'px'
      }
    }
  }
}
</script>

<style lang="stylus">
.ui-dropdown-popup
  margin 10px
  padding 10px
  visibility hidden
  position fixed
  background-color #ffffff
  border-radius 3px
  box-shadow none
  min-width 190px
  transition all ease .2s
  transform translateY(10%)
  opacity 0

  &_show
    visibility visible
    transform translateY(0)
    box-shadow 0 2px 20px -4px rgba(111,171,232,0.55)
    opacity 1

  &__arrow
    position absolute
    top -5px
    right 10px
    border-radius 3px
    background-color #ffffff
    transform rotate(45deg)
    height 13px
    width 13px
</style>
