<template>
  <div class="form-item">
    <div class="form-item-label">
      <label>{{label}}</label>
      <span>
        {{descriptionMini}}
        <template v-if="descriptionOld">
          <a class="link" v-show="!showDescriptionOld" @click="showDescriptionOld = true">Показать ещё</a>
          <template v-if="showDescriptionOld">
            {{descriptionOld}}
          </template>
        </template>
      </span>
    </div>
    <div class="form-item-body">
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String
    },
    description: {
      type: String
    }
  },
  data: () => ({
    showDescriptionOld: false
  }),
  computed: {
    descriptionMini () {
      return this.description ? this.description.split(' ').slice(0, 10).join(' ') : ''
    },
    descriptionOld () {
      if (this.description) {
        let worlds = this.description.split(' ').slice(10)
        return worlds.length ? worlds.join(' ') : false
      }

      return false
    }
  }
}
</script>

<style lang="stylus">
.form-item
  display flex
  margin-bottom 25px

  &:last-child
    margin-bottom 0

  @media (max-width 490px)
    flex-direction column

  &-label
    margin-top 10px
    display flex
    flex-direction column
    justify-content start
    line-height 22px
    width 250px

    & > label
      font-size 13px
      color #5a5a5a

    & > span
      font-weight 300
      font-size 12px
      color #b8b8b8

  &-body
    margin-top 5px
    flex 1 1 auto
    // max-width 300px
</style>
